<h1><%= listing.title %></h1>
<p><%= listing.description %></p>
<p>Price: ₹<%= listing.price %></p>
<p><%= listing.location %>, <%= listing.country %></p>
<a href="/listings/<%= listing._id %>/edit">Edit this listing</a>

<a href="/listings">← Back to all listings</a>